<% provide(:title, 'About') %>
<h1>StaticPages#about</h1>
<p>We are a team of young people as excited as you about traveling to Europe.
  We have been building a nice community with other travelers and Europe natives that help us enrich this site and provide you with the best alternatives to make your trip come true!
  You are invited to join us either if you are planning your trip or you have just come back from it.... or if you just love this idea, please contact us!
</p>