<% provide(:title, 'Home') %>
<h1>Trip#home</h1>
<p>￼Do you love traveling and planing your trips in advance?
  Are you a middle age person planning your backpacker dream trip to Europe? Do you need some help on planning a trip adapted just to your preferences? Are you dizzy with the amount of information you have found about it?
</p>
<%= link_to "Show me my itinerary", itinerary_path, class: "btn btn-large btn-primary" %>