<% provide(:title, 'Itinerary') %>
<div class="center hero-unit">
  <table>
    <tr>
      <td>
        <ul>
          <h2>
            ￼Awesome! We have found a nice option just for you! Actually this is the preferred route most people
            followed!
          </h2>
        </ul>
      <td>
    </tr>
  </table>
</div>