<% provide(:title, 'Itinerary') %>
<div class="center hero-unit">
  <section>
    <h2>
      ￼Awesome! We have found a nice option just for you! Actually this is the preferred route most people
      followed!
    </h2>
  </section>
  <section>
    <aside>
      <%=@trip %>
    </aside>
  </section>
</div>