<% provide(:title, 'Itinerary') %>
<div class="center hero-unit">
  <table>
    <tr>
      <td>
        <ul id="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Itinerary</a>
          <li><a href="#">Estimated costs</a></li>
          <li><a href="#">Report</a>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <h2>
            ￼Awesome! We have found a nice option just for you! Actually this is the preferred route most people
            followed!
          </h2>
        </ul>
      <td>
    </tr>
  </table>
</div>