<% provide(:title, 'About') %>
<div class="center hero-unit">
    <table>
      <tr>
        <td>
          <h3>We are a team of young people as excited as you about traveling to Europe.</h3>
          <h3>  We have been building a nice community with other travelers and Europe natives that help us enrich this site
            and provide you with the best alternatives to make your trip come true! </h3>
          <h3>You are invited to join us either if you are planning your trip or you have just come back from it.... or if
            you just love this idea, please <%= link_to "contact us!", contactus_path %>
          </h3>
        </td>
        <td>
          <%= link_to image_tag("backpackers.jpg", :size =>"850x750" ) %>
        </td>
      </tr>
    </table>
  </div>
</div>